
.lusitana-regular {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
}

.lusitana-bold {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}
.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}
.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
    display: none;
  
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 1px;
  background: #8b8b8b;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 5px;
  border-radius: 25px 25px ;
  background: #21321C;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 1px;
  background: #04AA6D;
  cursor: pointer;
}